div(class='add-container')
  h2 Add a new company
  label(for='name') Name:
    input(ng-model='form.name', required,  name='name')
  p Balance:
    input(ng-model='form.balance', type='number', required name='balance')
  p Parent:
    select(ng-model='form.parent')
      option(ng-value='root', selected="selected") root
      option(ng-repeat='company in companies', ng-if="{{company.name}}", ng-value='{{company.name}}') {{company.name}}
  button(ng-click='submitCompany()') Submit