div(class='tree-container')
    ul(ng-if="company.children") {{company.name}} | {{company.balance}} | {{company.childrenBalance}}
        div(class='tree-buttons')
            a(href='/editCompany/{{company._id}}' class='edit-button') Edit
            a(href='/deleteCompany/{{company._id}}' class='delete-button') Delete
        li(ng-repeat="company in company.children", ng-include="'partials/childrentree'" class='company-li')
