div(class='delete-container')
  h3 Are you sure you want to delete this company?
  div(class='delete-buttons')
    button(ng-click='deleteCompany()' class='yes-button') Yes
    button(ng-click='home()' class='no-button') No